<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- Define o título da página -->
    <title>{% block title %}Document{% endblock %}</title>
    <!-- Inclui o CDN do Tailwind CSS para estilização -->
    <script src="https://cdn.tailwindcss.com"></script>
    <!-- Define um bloco para o cabeçalho, que pode ser substituído nos templates filhos -->
    {% block head %}{% endblock %}
</head>
<body class="bg-cyan-400">
    <!-- Define a barra de navegação -->
    <nav class="bg-blue-900 h-16">
        <ul class="flex flex-row items-center h-full">
            <li class="text-white text-2xl mx-auto bg-blue-500 px-3 py-1 rounded">
                <!-- Link para a página de login -->
                <a href="/">
                    Login
                </a>
            </li>
            <li class="text-white text-2xl mx-auto bg-blue-500 px-3 py-1 rounded">
                <!-- Link para a página de cadastro -->
                <a href="/cadastro">
                    Cadastro
                </a>
            </li>
        </ul>
    </nav>
    <!-- Define um bloco para o corpo da página, que pode ser substituído nos templates filhos -->
    {% block body %}{% endblock %}
</body>
</html>